*{
    margin:0;
    padding:0;
}
body{
    background-color: black;
}
#contact{

height:500px;
width:500px;
border:2px solid white;
border-radius: 30px;
position: absolute;
left:30%;
top:10%;
background-color:black;


}
#heading{

    text-align: center;
    text-transform: uppercase;
    font-size: larger;
    font-weight: bolder;
    margin: 12px;
    color:aqua;


}

#section{

    color:white;
    position: absolute;
    top:90px;
    left: 90px;
}
input{
font-size: 20px;
    margin:20px auto;
    border: 2px solid black;
    border-radius: 6px;
    background-color: orange;
}
textarea{

    width: 340px;
    height: 70px;
    margin:25px 10px;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 24px;
    text-align: center;
    padding-top: 17px;
    background-color: orange ;

}
button{
    width: 150px;
    height: 40px;
    margin:20px auto;
    border: 2px solid black;
    border-radius: 6px;
    position: absolute;
    left: 82px;
    top:320px;
    background-color: aqua;

}
label{
    font-size: 20px;
    color:aqua;
}